.users__logo img{
    margin-left: 10px;
    margin-top: 10px;
    max-width: 120px;
    width: 100%;
    border-radius: 50%;
}

.users {
    display: flex;
    flex-wrap: wrap;
}

.users__num {
    cursor: pointer;
    display: flex;
    column-gap: 5px;
}

.users__selectPage {
    font-weight: bold;
}