.side__bar {
  grid-area: side__bar;
  background: burlywood;
}

.item {
  color: #FFFFFF;
  font-size: 22px;
  margin-left: 5px;
  transition: .3s;
}

.item:hover {
  color: cadetblue;
}

.item.active {
  color: gold;
}