.profile__header img{
    height: 300px;
}

.profile__info {
    padding: 10px;
}

.profile__infoAva {
    max-width: 200px;
    width: 100%;
}

.profile__infoContact {
    margin-left: 20px;
}

.profile__infoContact ul {
    list-style: none;
}

.profile__contact ul{
    padding-left: 15px;
    list-style: none;
    font-weight: 700;
}